*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card{
  height: 200px;
  width: 200px;
  background-color: #68eaea;
  color: white;
}

h1{
  background-color: #5cd2d2;
  padding: 0 5px;
}
p{
  padding: 5px;
}

.note-create-form{
  display: flex;
  gap: 1rem;
  padding: 3rem;
}